[core]
	editor = nvim
    autocrlf = input
    whitespace = trailing-space,space-before-tab,indent-with-non-tab
[user]
	email = ririmello.a@gmail.com
	name = Auri Gabriel
[init]
	defaultBranch = main
[commit]
  template = ~/.gitmessage
[push]
  default = simple
[credential]
